PNAmrNetto/SOA/Schemas/PNAmrBruto.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://soa.indonesiapower.co.id/schema/ResponsePNAmrBruto"
            targetNamespace="http://soa.indonesiapower.co.id/schema/ResponsePNAmrBruto" elementFormDefault="qualified">
  <xsd:element name="ResponsePNAmrNetto">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ErrorCode" type="xsd:string"/>
        <xsd:element name="ErrorMessage" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
